@model Product


<div class="PostContainer">
	@*@{
		string[] imageSources = new string[Model.Images.Length];
		for (int i = 0; i < Model.Images.Length; i++)
		{
			string base64 = Convert.ToBase64String(Model.Images[i]);
			imageSources[i] = String.Format("data:image/gif;base64,{0}", base64);
		}
	}

	<div class="ImageContainer">
		@foreach (string source in imageSources)
		{
			<img src="@source" />
		}
	</div>
	<div class="TitleContainer">
		@Model.LongDescription
	</div>
	<div class="DetailsContainer">
		Posted by @Model.UserID at @Model.Date
	</div>
	<div class="PriceContainer">
		@Model.Price
	</div>
	<div class="LongDescriptionContainer">
		@Model.LongDescription
	</div>*@
</div>