@{ ViewData["Title"] = "ProductDetails"; }
@model Product
@inject IUserRepository userRepo

<div class="product-details-container">
	<div class="card-body bg-light text-center">
		<h5 class="card-header">@Model.Title</h5>

		<span class="oof">
			@if (Model.Images != null && Model.Images.Count > 0)
			{
				@for (int i = 0; i < Model.Images.Count; i++)
				{
					@await Component.InvokeAsync("ImageDisplay", Model.Images.ElementAt(i))
				}
			}
			else
			{
				@await Component.InvokeAsync("ImageDisplay", null)
			}
		</span>
		<p class="card-text">@Model.LongDescription</p>

		<div class="card-footer text-muted">
			Price: @Model.Price
		</div>

		<div class="card-footer text-muted">
			Added by: @userRepo.GetUser(Model.SellerId) Posted Date: @Model.Date.ToString("MMMM dd yyyy")
		</div>
	</div>
	<a value="Add To Cart" class="btn btn-primary btn-lg btn-block" asp-controller="Cart" asp-action="Add" asp-route-id="@Model.Id">Add to cart...</a>
</div>