@{ ViewData["Title"] = "ProductDetails"; }
@model Product
@inject IUserRepository userRepo

<div class="product-details-container">
	<div class="card-body bg-light text-center">
		<h5 class="card-header">@Model.Title</h5>

		@if (Model.Images != null && Model.Images.Count > 0)
		{
			if (Model.Images.Count > 1)
			{
				<div id="productDetailsImageCarousel" class="carousel slide" data-ride="carousel">

					<ol class="carousel-indicators">
						<li data-target="#productDetailsImageCarousel" data-slide-to="0" class="active"></li>
						@for (int i = 1; i < Model.Images.Count; i++)
						{
							<li data-target="#productDetailsImageCarousel" data-slide-to=@i.ToString()></li>
						}
					</ol>

					<a class="carousel-control-prev" href="#productDetailsImageCarousel" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					</a>

					<div class="carousel-inner">
						<span class="carousel-item active">
							@await Component.InvokeAsync("ImageDisplay", Model.Images.ElementAt(0))
						</span>
						@for (int i = 1; i < Model.Images.Count; i++)
						{
							<span class="carousel-item">
								@await Component.InvokeAsync("ImageDisplay", Model.Images.ElementAt(i))
							</span>
						}
					</div>

					<a class="carousel-control-next" href="#productDetailsImageCarousel" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
					</a>
				</div>
			}
			else
			{
				<span class="post-single-image-container">
					@await Component.InvokeAsync("ImageDisplay", Model.Images.ElementAt(0))
				</span>
			}
		}
		else
		{
			<span class="post-single-image-container">
				@await Component.InvokeAsync("ImageDisplay", null)
			</span>
		}

		<div class="card-footer text-muted">
			<p class="card-text">@Model.LongDescription</p>
		</div>

		<div class="card-footer text-muted">
			Price: @Model.Price
		</div>

		<div class="card-footer text-muted">
			Added by: @userRepo.GetUser(Model.SellerId) Posted Date: @Model.Date.ToString("MMMM dd yyyy")
		</div>
		<a value="Add To Cart" class="btn btn-primary btn-lg btn-block" asp-controller="Cart" asp-action="Add" asp-route-id="@Model.Id">Add to cart...</a>
	</div>
</div>