
@{
    ViewData["Title"] = "ProductDetails";
}

@model Product

<span class="product-details-container">
    <span class="title-container">
        @Model.Title
    </span>
    <span class="DetailsContainer">
        Posted by @Model.SellerId at @Model.Date
    </span>
    <span class="price-container">
        @Model.Price
    </span>
    <span class="long-description-container">
        @Model.LongDescription
    </span>


    <a value="Add To Cart" asp-controller="Cart" asp-action="Add" asp-route-id="@Model.Id.ToString()">
        Add To Cart
    </a>
</span>